<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About</h5>
      <p class="grey-text text-lighten-4">United International Unuiversity</p>
      <p>demo@gmail.com</p>
      <p>Contact:0191******</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
      <li><%= link_to "Courses", root_path %></li>
      <li><%= link_to "Project", projects_path %></li>

      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2023 Copyright@uiu
  <a class="grey-text text-lighten-4 right" href="#!">News and Events</a>
  </div>
</div>
</footer>
